
<form clrForm clrLayout="vertical" clrLabelSize="2" [formGroup] = "ConsoleForm">
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="commandWindow">Execute Command</label>
                <textarea clrTextarea name="commandWindow" formControlName="commandWindow" (keydown.enter) = "ExecuteCommand()" rows="15%" cols="140%" (keyup)="onKey($event)"></textarea>
            </clr-textarea-container>
        </div>
    </div>
    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-textarea-container>
                <label for="outputWindow">Command Response</label>
                <textarea clrTextarea name="outputWindow" formControlName="outputWindow" rows="15%" cols="140%" readonly></textarea>
            </clr-textarea-container>
        </div>

    </div>
</form>
