<form clrForm clrLayout="horizontal" clrLabelSize="6" [formGroup]="fwUpdateForm">

    <div class="clr-row">
        <div class="clr-col-lg-auto">
            <clr-input-container>
                <label>Select firmware to update</label>
                <input type="file" clrInput class="inputfile" name="fwFileName" formControlName="fwFileName" (change)="onFWFileSelect($event)" accept=".ufw,.*" >
            </clr-input-container>
        </div>

    </div>
    
    <div class="clr-row">
        <div class="clr-col">
            <button class="btn btn-primary" (click)="onFWUpdateClicked()">Start Firmware Update</button>
        </div>
    </div>

</form>


<clr-datagrid  (clrDgSelectedChange)="onSelectionChanged($event)" [(clrDgSelected)]="rowsSelected">
    <clr-dg-column >Sequence Number</clr-dg-column>
    <clr-dg-column >Product Name</clr-dg-column>
    <clr-dg-column >Serial Number</clr-dg-column>
    <clr-dg-column >WAN IP Address</clr-dg-column>
    <clr-dg-column >OS Version</clr-dg-column>
    <clr-dg-column >OS Build Number</clr-dg-column>
    <clr-dg-column >Signature</clr-dg-column>
    <clr-dg-column >Status</clr-dg-column>
    
    <clr-dg-row *clrDgItems="let device of devices; let idx = index" [clrDgItem]="device">
        
        <clr-dg-cell>{{idx + 1}}</clr-dg-cell>
        <clr-dg-cell>{{device.deviceName}}</clr-dg-cell>
        <clr-dg-cell>{{device.serialNumber}}</clr-dg-cell>
        <clr-dg-cell>{{device.ipAddress}}</clr-dg-cell>
        <!-- OS Version-->
        <clr-dg-cell>4.1</clr-dg-cell>
        <!-- OS Build Number-->
        <clr-dg-cell>Abc123</clr-dg-cell>
        <!-- Signature -->
        <clr-dg-cell>Development</clr-dg-cell>
        <!-- Status -->
        <clr-dg-cell>Status</clr-dg-cell>

        
    </clr-dg-row>

	<!-- Inside the full datagrid declaration -->
	<clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="10">
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Devices per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} devices
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>
